.all-content {
    text-align: center;
}
ul {
    list-style-type: none;
}
.service-list {
    width: 75%;
    margin: 0 auto;
}
.logo-list {
    float: left;
    width: 25%;
}
.service-wrapper {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    cursor: pointer;
    background-color: #2a69a6;
    border: 1px solid #2a69a6;
    border-radius: 50%;  
}
.service-wrapper:hover {
    background-color: #fff;
}
.icon {
    background-image: url('./image/css_sprites.png');
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.icon.icon-tablet {
    background-position: -54px -10px;    
    width: 24px;
    height: 30px;
}
.service-wrapper:hover .icon-tablet {
    background-position: -10px -10px;
}
.icon.icon-settings {
    width: 26px;
    height: 26px;
    background-position: -98px -10px;
}
.service-wrapper:hover .icon-settings {
    background-position: -10px -60px;
}
.icon.icon-dashbord {
    width: 28px;
    height: 24px;
    background-position: -56px -60px;
}
.service-wrapper:hover .icon-dashbord {
    background-position: -144px -10px;
}